body {
    background-color: #fff;
    color: #303;



 /*   width: 960px; */
    min-width: 960px;
    margin: 0 auto;




    font-size: 24px;
    font-family: Helvetica, sans-serif;
    color: black;
}



.box {

    box-sizing: border-box;

    margin: 0 20px 30px 20px;



    background: blanchedalmond;
    text-align: center;

    border: solid 1px black;


    height: 150px;
    width: 350px;


    position: relative;
    top: 10px;
    left: 10px;

    float: left;

    display: inline-block;

}




.explore_box {
    box-sizing: border-box;

    background: blanchedalmond;
    text-align: center;

    border: solid 1px black;

    height: 1200px;
    width: 350px;

    position: relative;
    top: 10px;
    left: 10px;

    float: right;

    margin: 0 200px 200px 0;
}

#basic_arithmetic {

    background-image: url(images/index_buttons/basic_arithm.png);
    background-size: cover;


}

#set_theory {
    background-image: url(images/index_buttons/set_theory.png);
    background-size: cover;
}

#propositional_logic {
    background-image: url(images/index_buttons/propos_logic.png);
    background-size: cover;
}


img {
  padding: 5px;
  width: 80px;
}





/* table {
      border-collapse: collapse;

} */

td, th {
  border: 1px solid #999;
  padding: 10px 20px 10px 20px;



}


.third_column {
    background-color: #F6F8FA;
    font-family: Andale Mono, monospace;
    color: #005493;
    padding: 15px 50px 15px 50px;

}


.additional {
    font-style: italic;
    color: #A9A9A9;
    font-size: 20px;

}



footer {
    background-color: darkgray;

    margin-top: 100px;

    padding: 20px 0 30px;
    vertical-align: middle;

    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    text-align: center;


    clear:  both;


}


table {
     margin-left: auto;
     margin-right: auto;
}


h1 {
     margin-left: auto;
     margin-right: auto;
     padding-left: clamp(150px, 25%, 1500px);  /*A clamp takes three values; the minimum, preferred, and maximum values, in that order. */
     padding-right: clamp(450px, 25%, 1500px);
     text-align: center;


 }
