body {
    background-color: #f4f3ee;
    color: #303;

    min-width: 960px;
    margin: 0 auto;

    font-size: 24px;
    font-family: Helvetica, sans-serif;
    color: black;

    text-align: center;
}


nav {
    margin: 0 auto;
    width: 800px;
}


.types-of-symbols {

    margin: 0;
    width: 500px;

   /* border: solid 3px greenyellow; */

}


.box {


    box-sizing: border-box;
    display: inline-block;

    margin: 0 40px 30px 0;

    position: relative;
    left: 10px;
    top: 0px;

    float: right;


    background: white;
    text-align: center;

    border: solid 1px #463F3A;

    height: 150px;
    width: 350px;


    box-shadow: -5px 5px 5px 0 lightgray;
}


.explore_box {

    margin: 0;

    box-sizing: border-box;

    background: white;
    text-align: center;

    border: solid 1px #463F3A;

    height: 1200px;
    width: 350px;

    position: relative;
    left: 0px;
    top: 0px;

    float: right;

    margin-bottom: 200px;

    box-shadow: -5px 5px 5px 0 lightgray;
}


#basic_arithmetic {

    background-image: url(images/index_buttons/basic_arithm.png);
    background-size: cover;
}

#set_theory {
    background-image: url(images/index_buttons/set_theory.png);
    background-size: cover;
}

#propositional_logic {
    background-image: url(images/index_buttons/propos_logic.png);
    background-size: cover;
}

#mult_expressions {
    background-image: url(images/index_buttons/text.png);
    background-size: cover;
}

#colour {
    background-image: url(images/index_buttons/colour.png);
    background-size: cover;
}

#matrices {

}

#integrals_sums {

}

#greek_letters {

}


img {
    padding: 5px;
    width: 80px;
}

.screenshot {
    width: 400px;
    padding: 20px 0 20px 0;
    margin: 0;
}



/* ============================================================= */

/* table {
      border-collapse: collapse;

} */

td, th {
    border: 1px solid #999;
    padding: 10px 20px 10px 20px;
    background-color: white;
}


.third_column {
    background-color: #F6F8FA;
    font-family: Andale Mono, monospace;
    color: #005493;
    padding: 15px 50px 15px 50px;
}


.additional {
    font-style: italic;
    color: #A9A9A9;
    font-size: 20px;
}


table {
    margin-left: auto;
    margin-right: auto;
}

/* end of table settings */

/* ============================================================= */




h1 {
    margin: 30px 0 25px 0;
    padding: 30px 0 30px 0;

    text-align: center;
    background-color: #F4F3EE;
    color: #59504a;


}


.website-header {

    background-color: #59504A;
    margin: 0;
    padding: 7px 0px 7px 20px;

    position: sticky;
    top: 0;
    left: 10px;

    vertical-align: middle;
    text-align: left;
}


.website-header-home {

    background-color: #59504A;
    margin: 0;
    padding: 7px 0px 7px 20px;


    vertical-align: middle;
    text-align: left;
}



#connect { padding-left: 12px; }



footer {
    background-color: #463f3a;
    color: #8A817C;

    margin-top: 100px;

    padding: 20px 0 30px;
    vertical-align: middle;

    bottom: 0;
    width: 100%;
    height: 60px;   /* Height of the footer */
    text-align: center;

    clear:  both;
}




/* ============================================================= */

/* Stylink links */

a {
    display: inline-block;
}


a:link {

    color: #F4F3EE;
    text-decoration: none;

}

a:visited {

    color: #F4F3EE;
    text-decoration: none;
}

a:hover {

    color: #FF9F1C;
    text-decoration: none;


}

a:active {

    color: #FF9F1C;
    text-decoration: none;

    position: relative;
    top: 1px;

}


/* End of:  Stylink links */

/* ============================================================= */


a.box:link {

    color: #463F3A;
    text-decoration: none;
    padding: 1px 0 0 0;

}

a.box:visited {

    color: #463F3A;
    text-decoration: none;
    padding: 1px 0 0 0;
}

a.box:hover {

    color: #CD7D65;
    text-decoration: none;
    font-weight: bold;
    padding: 0;

    border: solid 3px #E0AFA0;

}

a.box:active {

    color: #CD7D65;
    text-decoration: none;
    font-weight: bold;
    padding: 0;

    position: relative;
    top: 1px;
    left: 10px;
    right: 20px;

    border: solid 3px #E0AFA0;
}















/* ============================================================= */
/* ============================================================= */
/* ============================================================= */
/* ============================================================= */

/* =============================================================

nav {
    margin-left: clamp(50px, 10%, 500px);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: clamp(50px, 15%, 700px);

    border: solid 1px blueviolet;
}

.types-of-symbols {

    margin: 0 380px 10px 10px;

   border: solid 3px greenyellow;

}


.box {


    box-sizing: border-box;
    display: inline-block;

    margin: 0 20px 20px 20px;

    position: relative;
    left: 10px;
    top: 0px;

    float: right;


    background: blanchedalmond;
    text-align: center;

    border: solid 1px black;

    height: 150px;
    width: 350px;


    box-shadow: -5px 5px 5px 0 lightgray;
}


.explore_box {

    margin: 0;

    box-sizing: border-box;

    background: blanchedalmond;
    text-align: center;

    border: solid 1px black;

    height: 1200px;
    width: 350px;

    position: relative;
    left: 0px;
    top: 0px;

    float: right;

    margin-bottom: 200px;

    box-shadow: -5px 5px 5px 0 lightgray;
}

============================================================= */

/* ============================================================= */
/* ============================================================= */
/* ============================================================= */