body {
    background-color: #fff;
    color: #303;


    width: 960px;
    min-width: 960px;
    margin: 0 auto;
    padding: 20px;


    font-size: 24px;
    font-family: Helvetica, sans-serif;
    color: black;
}



.box {
    box-sizing: border-box;

    margin: 0 20px 30px 20px;



    background: blanchedalmond;
    text-align: center;

    border: solid 1px black;


    height: 150px;
    width: 350px;


    position: relative;
    top: 10px;
    left: 10px;

    float: left;

    display: inline-block;

}




.explore_box {
    box-sizing: border-box;

    background: blanchedalmond;
    text-align: center;

    border: solid 1px black;

    height: 1200px;
    width: 350px;

    position: relative;
    top: 10px;
    left: 10px;

    float: right;

    margin: 0 200px 200px 0;
}

#basic_arithmetic {

    background-image: url(images/index_buttons/basic_arithm.png);
    background-size: cover;


}

#set_theory {
    background-image: url(images/index_buttons/set_theory.png);
    background-size: cover;
}

#propositional_logic {
    background-image: url(images/index_buttons/propos_logic.png);
    background-size: cover;
}


img {
  padding: 5px;
  width: 80px;
}


#footer {

    clear:  both;
}


table {
  border-collapse: collapse;

}

td, th {
  border: 1px solid #999;
  padding: 10px 20px 10px 20px;



}


.third_column {
    background-color: lightgray;
    padding: 10px 30px 10px 50px;

}

